<div class="container">
  <div class="first">
    <h1>Learn to code by watching others</h1>
    <p>See how experienced developers solve problems in real-time Watching scripted tutorials is great but understanding
      how developers think is invaluable
    </p>
  </div>
  <div class="sec">
    <div class="trail-container">
      <div class="trail">
        <b> Try it free 7 days </b>&nbsp;<span>then $20/mo. thereafter</span>
      </div>
    </div>

    <div class="form-container">

      <form [formGroup]="regform" (ngSubmit)="formsub()">


        <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
        <i *ngIf="firstname && firstname.invalid">
          <img src="../assets/images/icon-error.svg" alt="">
        </i>
        <span class="para" *ngIf="firstname && firstname.invalid">
          <p>first name cannot be empty</p>
        </span>


        <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name">
        <i *ngIf="lastname && lastname.invalid">
          <img src="../assets/images/icon-error.svg" alt="">
        </i>
        <span class="para" *ngIf="lastname && lastname.invalid">
          <p>Last name cannot be empty</p>

        </span>


        <input type="text" class="form-control" formControlName="email" placeholder="Email">
        <i *ngIf="email && email.invalid">
          <img src="../assets/images/icon-error.svg" alt="">
        </i>
        <span class="para" *ngIf="email && email.invalid">
          <p>look like This is not email </p>
        </span>

        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <i *ngIf="password && password.invalid">
          <img src="../assets/images/icon-error.svg" alt="">
        </i>
        <span class="para" *ngIf="password && password.invalid">
          <p>Password cannot be empty</p>
        </span>


        <button id="btnsub" class="form-control " type="submit" [disabled]="!regform.valid">
          CLAIM YOUR FREE TRIAL</button>

        <p id="paralast">By clicking the button, you are agreeing to our &nbsp;<span id="myspan"><b>Terms and
              Services</b></span>
        </p>

      </form>


    </div>
  </div>
</div>

<router-outlet></router-outlet>